name: Test
on:
  workflow_call:
    inputs:
      build-artifact:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
      - run: mvn test
      - uses: actions/upload-artifact@v4
        with:
          name: calculator-jar
          path: target/*.jar
